@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables */
:root {
  --color-primary: #0a0a0a;
  --color-accent: #059669;
}
body {
  background: var(--color-primary);
}
/* Base Styles */
@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  /* Reset the default browser cross-fade */
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
    display: block;
    will-change: transform, opacity, filter;
  }

  /*  The PREVIOUS Page  */
  ::view-transition-old(root) {
    animation: recede 1.2s cubic-bezier(0.87, 0, 0.13, 1) forwards;
    z-index: 1;
  }

  /*  NEW Page  */
  ::view-transition-new(root) {
    animation: slide-up 1s cubic-bezier(0.87, 0, 0.13, 1) forwards;
    z-index: 2;
  }
}

/* Utility Classes */
@layer utilities {
}

/* Component Styles */
@layer components {
  .nav-link {
    @apply font-display uppercase text-white hover:scale-105 hover:text-accent-500;
  }
  .nav-contact {
    @apply border-2 p-3 font-display uppercase text-white hover:scale-105 hover:bg-white hover:text-primary;
  }
  .project-cards {
    perspective: 850px;
  }
  .project-cards .card {
    transform-origin: center bottom;
  }
}

/*  KEYFRAMES */

/* Pinned effect*/
@keyframes recede {
  0% {
    transform: scale(1);
    filter: brightness(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.9);
    filter: brightness(0.3);
    opacity: 0.5;
  }
}

/* Slide over  */
@keyframes slide-up {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
