@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables */
:root {
  --color-primary: #0a0a0a;
  --color-accent: #059669;
}

/* Base Styles */
@layer base {
  * {
    box-sizing: border-box;
  }
}

/* Utility Classes */
@layer utilities {
}

/* Component Styles */
@layer components {
  .nav-link {
    @apply font-display uppercase text-white hover:scale-105 hover:text-accent-500;
  }
  .nav-contact {
    @apply border-2 p-3 font-display uppercase text-white hover:scale-105 hover:bg-white hover:text-primary;
  }
  .project-cards {
    perspective: 850px;
  }
  .project-cards .card {
    transform-origin: center bottom;
  }
}
